	body { background-color: #ff926b; }

	h1 {
		font-size: 30px; font-family: arial;
	}
	
	p {
		font-size: 15px; font-family: "times new roman";
	}

	span {
		color: #4d3e3e;
	}
	
	h1 {
		color: #4d3e3e;
	}

	td {
	    border-radius: 5px;
		font-size: 13px;
		color: #4d3e3e;
	}

	.hello {
		font-size: 42;
		width: 100%;
		margin-top: 2em;
		text-align: center;
		color: blue;
	}

	#contenido1 {
		background-color:#ffc38b;
		color:#4d3e3e;
	}

	table {
		padding: 15px;
	}

	#boton1 {background-color: #fff3cd; color:#4d3e3e;}
	#boton2 {background-color: #fff3cd; color:#4d3e3e;}
	#boton3 {background-color: #fff3cd; color:#4d3e3e;}

.caja {
	text-align: left;
	margin-left: 30px;
	margin-right: 30px;
	margin-top: 30px;
	background: #FF8457;
	border-radius: 10px;
	display: inline-block;
	width: 84%;
	position: relative;
}	